body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  background: #48daee;
  perspective: 1000px;
  perspective-origin: 800px;
  transform-style: preserve-3d;
}
.box {
  width: 200px;
  height: 200px;
  background: #7250ff;
  border-radius: 15px;
  transition: 1s;
  transform: rotateX(50deg);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.front {
  width: 100px;
  height: 100px;
  background: #f0db4f;
  border-radius: 15px;
  transform: rotatez(50deg);
}
.box:hover{
    transform: rotate3d(1,0,1,800deg)
}